/* Sidebar */

.sidebar {
  /* background: none; */
  overflow-y: unset;
  position: static;
  padding: 0;
  flex: none;
  /* max-width: var(--sidebar-width); */
  /* width: 100%; */
  /* border: 0; */
  min-height: 0;
  height: auto;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  width: 12rem;
  /* border: 1px solid rgb(224,224,224) */
}

.slider .slider-icon {
  width: 2rem;
  height: 2rem;
}

.sidebar-closed {
  width: 4rem !important;
}

.sidebar .sidebar-contents-closed {
  display: none;
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
