.menu-button {
    display: none;
}

.header-main {
    height: 6rem;
    padding: 0 2rem;
}

@media (max-width: 1024px) { 
    .logo-text {
        display: none;
    }
    .autocomplete {
        width: 50vw;
        justify-self: center;
    }
    .header-main {
        height: 3rem;
        padding: 0 1rem;
    }
    .menu-button {
        display: block;
    }
    .option-bar {
        height: 0.5rem;
    }
    .option-bar .option-bar-content {
        display: none;
    }

 }