.screenerLayout {
  display: grid;
  grid-template-areas: "panel table";
  grid-template-columns: 2fr 3fr;
  // grid-template-rows: min-content min-content 1fr min-content;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.screenerPanel {
  grid-area: panel;
  //   padding: 0.5rem 0;
  overflow-y: scroll;
  min-height: 0;
  height: calc(100% - 1rem);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  //   border: 1px solid gray;
  border-radius: 3px;
  border: 1px solid var(--color-gray-300);
}

.screenerTable {
  grid-area: table;
  padding: 0.5rem 0 0.5rem 0.5rem;
  height: 100%;
  min-height: 0;
}

@media (max-width: 768px) {
  .screenerLayout {
    grid-template-areas: "table";
    grid-template-columns: 1fr;
  }

  .screenerPanel {
    display: none;
  }

  .screenerTable {
    padding: 0.2rem;
  }
}
