@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --sidebar-width: 260px;
  --side-padding: 32px;
  --colorNeutralBackground10: #edebe9;
  --border-color-dark-rgb: #64748b; /* slate-500 */
  --bg-dark: #475569; /* slate-600 */
  /* --bg-dark-hover: #94a3b8; slate-400 */
  --bg-dark-hover: #64748b; /* slate-500 */
  --bg-gray: #e5e7eb;
  --text-dark: #f8fafc; /* text-slate-50 */
  --label-text-dark: #7dd3fc; /* text-sky-300 */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.wrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  /* padding: 20px var(--side-padding, 32px); */
  flex: 1 0 auto;
  /* column-gap: 30px; */
}

.sidebar {
  /* background: none; */
  overflow-y: unset;
  position: static;
  padding: 0;
  flex: none;
  /* max-width: var(--sidebar-width); */
  /* width: 100%; */
  /* border: 0; */
  min-height: 0;
  height: auto;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  /* border: 1px solid rgb(224,224,224) */
}

.call-button-color {
  /* background-color: '#228be6 !important' */
  background-color: #228be6 !important
}

.call-button-color:disabled {
  background-color: #f1f3f5 !important
}

.reset-button-color {
  /* background-color: '#228be6 !important' */
  background-color: #fd7e14 !important
}

.reset-button-color:disabled {
  background-color: #f1f3f5 !important
}

.dark-hover {
  color: red !important;
  background-color: var(--bg-dark-hover) !important;
}
  
.overlay {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(calc(0.125rem * var(--mantine-scale)));
  /* --overlay-radius: var(--mantine-radius-sm); */
  /* --overlay-z-index: 200; */
}